* {
    margin: 0px;
    padding: 0px;
}

html {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../image/fon.gif);
}

input, select, textarea, button {
    font-family: Georgia;
    font-size: 1em;
    color: #353f45;
}

input.text, select, textarea, button {
    border: 1px solid #d0d0d0;
    padding: 2px 3px;
}


image, table, th, td {
    border: 0px;
}

a, a h1, a h2 {
    cursor: pointer;
    color: #0061a3;
    text-decoration: underline;
    display: inline;
}

a:hover, a:hover h1, a:hover h2 {
    text-decoration: none;
}

p {
    font-size: 1em;
    padding-bottom: 1em; /* text-indent:1em; */
}

ul, ol {
    font-size: 1em;
    padding: 0 0 1em 2em;
}

ul ul, ol ol, ul ol, ol ul {
    padding: 0 0 0 2em;
}

/*ul li {list-style:none;background:url(../image/li.gif) no-repeat 0px 7px;}*/
/*ul ul li, ol ul li {list-style:none;background:url(../image/li.gif) no-repeat 0px 7px;}*/

h1, .h1 {
    font-size: 34px;
    font-weight: normal;
    padding-bottom: 1em;
    color: #4c5866;
    text-shadow: #353f45;
}

h2, .h2 {
    font-size: 26px;
    font-weight: normal;
    padding-bottom: 1em;
    color: #4c5866;
    text-shadow: #f5f7fa 1px 1px 2px;
}

h3, .h3 {
    font-size: 17px;
    font-weight: normal;
    padding-bottom: 1em;
    color: #4c5866;
    text-shadow: #353f45;
}

h4, .h4 {
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 1em;
    color: #0060a2;
}

h5, .h5 {
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 1em;
    color: #0060a2;
}

ins p, ins h1, ins h2, ins h3, ins h4 {
    padding-bottom: 0em;
}

blockquote {;
}

.br {
    display: block;
    clear: both;
    float: none;
    width: 0px;
    height: 0px;
    font-size: 0px;
    line-height: 0px;
    overflow: hidden;
}

.clear { /*display:inline-block;*/
}

.clear:after {
    content: ".";
    display: block;
    float: none;
    width: 100%;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
    clear: both;
    visibility: hidden;
    _zoom: 1;
    _display: block
}

.fl {
    float: left;
    _display: inline;
}

.fr {
    float: right;
    _display: inline;
}

.ib {
    display: -moz-inline-stack;
    display: inline-block;
    _overflow: hidden;
    zoom: 1;
    _display: inline;
}


#head {
    position: absolute;
    top: 10px;
    left: 170px;
    width: 990px;
    height: 100px;
    z-index: 0;
    background-color: #F5EB76;
    padding: 5px;
}

#head-m {
    width: 100%;
    height: 100%;
    background: url(../image/head.png) no-repeat 0px 0px;
}

#head-i {
    width: 950px;
    margin: 0px auto;
    position: relative;
}

#error #head {;
}

#error #head-m {
    background: none;
}

#error #head-i {
    width: 510px;
    padding: 0px 355px 0px 85px;
}

#head-logo {
    position: absolute;
    top: 38px;
    left: 62px;
    width: 230px;
    text-align: center;
}

.small {
    font: 10px/1.5 Georgia;

    color: #020510;

}

.small1 {
    font: 14x/1.5 Georgia;

    color: #020510;
    text-shadow: #0B27C2 1px 1px 1px;

}

#menu {
    position: absolute;
    top: 141px;
    left: 150px;
    width: 962px;
    height: 38px;
    z-index: 10;
}

#main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#content {
    position: absolute;
    top: 110px;
    left: 170px;
    width: 1000px;
    z-index: 0;
    background: #ffffff;
}

#content1 {
    margin: 20px;
}

#menu-m {
    width: 100%;
    height: 100%;
    background: url(../image/text.png) repeat-y 0px 0px;
}

#menu-i {
    width: 950px;
    height: 38px;
    margin: 0px auto;
    background: url(../image/menu.gif) repeat-x 0px 100% #d53e07;
}

#menu ul {
    width: 950px;
    height: 38px;
    padding: 0px;
    margin: 0px;
}

#menu ul li {
    list-style: none;
    position: relative;
    z-index: 100;
    float: left;
    _display: inline;
    width: 190px;
    height: 38px;
    padding: 0px;
    margin: 0px;
}

#menu ul li a {
    display: block;
    width: 100%;
    height: 24px;
    padding: 10px 0px 0px 0px;
    border-top-width: 4px;
    border-top-style: solid;
    font-size: 13px;
    text-align: center;
    color: #354a58;
    text-decoration: none;
}

#menu ul li a.c1 {
    border-top-color: #d74141;
}

#menu ul li a.c6 {
    border-top-color: #ffab19;
}

#menu ul li a.c3 {
    border-top-color: #3ed200;
}

#menu ul li a.c4 {
    border-top-color: #3c72ad;
}

#menu ul li a.c5 {
    border-top-color: #de3aa5;
}

#menu ul li a span {
    display: block;
    margin: 0px 15px;
    height: 100%;
}

#menu ul li a span i {
    font-style: normal;
    background: url(../image/menu-li.gif) no-repeat 0px 50%;
    padding: 0px 0px 0px 23px;
}

#menu ul li.sep {
    width: 2px;
    margin: 0px -1px;
    height: 38px;
    background: url(../image/menu-sep.gif) no-repeat 50% 10px;
    overflow: hidden;
}

#menu ul li.active a {;
}

#menu ul li.active a.c1 {
    background: #fbafaf;
}

#menu ul li.active a.c6 {
    background: #ffd053;
}

#menu ul li.active a.c3 {
    background: #b5eb9f;
}

#menu ul li.active a.c4 {
    background: #bfd5ff;
}

#menu ul li.active a.c5 {
    background: #f3bbdf;
}

#menu ul li.active a span {
    background: url(../image/menu-li-active-dots.gif) repeat-x 0px 100%;
}

#menu ul li.active a span i {
    background: url(../image/menu-li-active.gif) no-repeat 0px 50%;
}

#menu ul li .submenu {
    position: absolute;
    display: none;
    top: 38px;
    left: -1px;
    z-index: 100;
    width: 192px;
}

#menu ul li.active .submenu {
    display: block;
}

#menu ul li .submenu-m {
    width: 192px; /*background:url(../image/menu-ul-ul-m.png) repeat-y 0px 0px;*//*border-right:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;border-left:1px solid #e2e2e2;*/
}

#menu ul li .submenu-b {
    display: none;
    width: 192px;
    height: 2px;
    background: url(../image/menu-ul-ul-b.png) no-repeat 0px 0px;
}

#menu ul li ul {
    width: 110px;
    height: auto;
    padding: 15px 40px 10px 40px;
    margin: 0px auto;
}

#menu ul li ul li {
    display: block;
    float: none;
    width: auto;
    height: auto;
    padding: 0px 0px 10px 0px;
    margin: 0px;
}

#menu ul li ul li a {
    text-decoration: underline;
    display: inline;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
}

#menu ul li ul li a:hover {
    text-decoration: none;
}

#menu ul li ul.c1 {
    background: #fbafaf;
}

#menu ul li ul.c6 {
    background: #ffd053;
}

#menu ul li ul.c3 {
    background: #b5eb9f;
}

#menu ul li ul.c4 {
    background: #bfd5ff;
}

#menu ul li ul.c5 {
    background: #f3bbdf;
}

#menu ul li table {;
}

#menu ul li table td {
    vertical-align: top;
    padding: 0px 20px 0px 20px;
}

#menu ul li table ul {
    padding: 0px;
    margin: 0px;
}


#menu ul li table td.td1 {
    padding: 0px 15px 0px 40px;
}

#menu ul li table td.td5 {
    padding: 0px 15px 0px 15px;
    background: none;
}

#menu ul li ul li ul {
    position: relative;
    top: auto;
    left: auto;
    padding: 5px 0px 0px 0px;
    margin: 0px;
}

#menu ul li ul li ul li {
    display: block;
    float: none;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
}

#menu ul li ul li ul li a {
    color: #354a58;
    font-weight: normal;
}

.links {
    font-size: 16px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #8e9fa9;
    text-transform: uppercase;
    padding: 0px 0px 30px 0px;
}

.links a {
    display: block;
    float: left;
    _display: inline;
    color: #353f45;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
    margin: 0px 1px 0px 0px;
}

.links a b {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    display: block;
}

.links a b i {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    display: block;
}

.links a b i s {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    display: block;
    padding: 1px 3px;
}

.links a.active, .links a:hover {
    background: url(../image/page-t-l.gif) no-repeat 0px 0px #0061a3;
    color: #ffffff;
    text-decoration: none;
}

.links a.active b, .links a:hover b {
    background: url(../image/page-t-r.gif) no-repeat 100% 0px;
}

.links a.active b i, .links a:hover b i {
    background: url(../image/page-b-r.gif) no-repeat 100% 100%;
}

.links a.active b i s, .links a:hover b i s {
    background: url(../image/page-b-l.gif) no-repeat 0px 100%;
}

.links span {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    display: block;
    float: left;
    _display: inline;
    padding: 1px 3px;
    margin: 0px 1px 0px 0px;
}

.text-left1 {

    float: left;
    width: 170px;
    color: #99958c;
    font: bold 12px Georgia;
    text-align: left;
}

.text-right {
    position: absolute;
    left: 172px;
    float: left;
    width: 825px;
    background-color: #FFFFFF;
    padding: 2px 2px 2px 2px;
    text-align: center;

}

.tbl {
    border-top: 1px dotted #040400;

}