
body {
    background: url(/image/fon.gif);
    color: #353f45;
    font-size: 13px;
    font-family: Tahoma, sans;
}

table {
    text-align: center;
}

.table th, .table td {
    padding: 8px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

input, select, textarea, button {
    font-family: Tahoma, sans;
    font-size: 1em;
    color: #353f45;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 40px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.custom-table {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    margin-bottom: 0;
}

.pre-scrollable {
    max-height: 75vh;
    width: 100%;
    overflow: auto;
}

.search {
    display: inline-flex;
}

.search .form-data-heading,
.search .checkbox {
    margin-bottom: 10px;
}

.search input {
    display: inline;
}

.modal-form {
    display: block;
}

.modal-form p,
.modal-form input,
.modal-form select,
.modal-form label {
    display: inline-block;
}

.nav-link {
    font-size: 15px;
}

.bootstrap-select>.dropdown-toggle {
    width: auto;
    max-width: 476px;
}
@media (min-width: 576px)
{}.modal-dialog {
        max-width: 800px;
        margin: 1.75rem auto;
    }