/* Default not changes styles */
.button
{
	padding: 10px 15px;
	font-size: 11px; font-family: Tahoma; color: #fff; font-weight: bold; text-transform: uppercase;
	cursor: pointer;
	
	box-shadow: 0px 1px 3px #000;
	-o-box-shadow: 0px 1px 3px #000;
	-moz-box-shadow: 0px 1px 3px #000;
	-webkit-box-shadow: 0px 1px 3px #000;

	border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

/* Blue button */
.blue 
{
	background-color: #376ea6;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3b76b3), color-stop(1, #369));
	background: -moz-linear-gradient(bottom, #369, #3b76b3);
	border: 1px solid #3b76b3;
	text-shadow: 0px 1px 1px #039;
	-o-text-shadow: 0px 1px 1px #039;
	-moz-text-shadow: 0px 1px 1px #039;
	-webkit-text-shadow: 0px 1px 1px #039;
}
.blue:hover
{
	background-color: #369;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #369), color-stop(1, #2b5580));
	background: -moz-linear-gradient(bottom, #2b5580, #369);	
	border-color: #376ea6;
}

/* Green button */
.green
{
	background-color: #3c7d35;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #47953f), color-stop(1, #3c7d35));
	background: -moz-linear-gradient(bottom, #3c7d35, #47953f);
	border: 1px solid #47953f;
	text-shadow: 0px 1px 1px #1f421c;
	-o-text-shadow: 0px 1px 1px #1f421c;
	-moz-text-shadow: 0px 1px 1px #1f421c;
	-webkit-text-shadow: 0px 1px 1px #1f421c;
}
.green:hover
{
	background-color: #367130;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3c7d35), color-stop(1, #367130));
	background: -moz-linear-gradient(bottom, #367130, #3c7d35);
	border-color: #42893a;
}

/* Brown button */
.brown
{
	background-color: #6e3d0a;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7e460c), color-stop(1, #6e3d0a));
	background: -moz-linear-gradient(bottom, #6e3d0a, #7e460c);
	border: 1px solid #7e460c;
	text-shadow: 0px 1px 1px #301b04;
	-o-text-shadow: 0px 1px 1px #301b04;
	-moz-text-shadow: 0px 1px 1px #301b04;
	-webkit-text-shadow: 0px 1px 1px #301b04;
}
.brown:hover
{
	background-color: #7e460c;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6e3d0a), color-stop(1, #5e3509));
	background: -moz-linear-gradient(bottom, #5e3509, #6e3d0a);
	border-color: #6e3d0a;
}

/* Purple button */
.purple
{
	background-color: #8b345a;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #973962), color-stop(1, #8b345a));
	background: -moz-linear-gradient(bottom, #8b345a, #973962);
	border: 1px solid #973962;
	text-shadow: 0px 1px 1px #341422;
	-o-text-shadow: 0px 1px 1px #341422;
	-moz-text-shadow: 0px 1px 1px #341422;
	-webkit-text-shadow: 0px 1px 1px #341422;
}
.purple:hover
{
	background-color: #8b345a;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8b345a), color-stop(1, #7f2f52));
	background: -moz-linear-gradient(bottom, #7f2f52, #8b345a);
	border: 1px solid #7f2f52;
}

/* Gray button */
.gray
{
	background-color: #ddd;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), color-stop(1, #ddd));
	background: -moz-linear-gradient(bottom, #ddd, #eee);
	border: 1px solid #fff;
	text-shadow: 0px 1px 1px #fff;
	-o-text-shadow: 0px 1px 1px #fff;
	-moz-text-shadow: 0px 1px 1px #fff;
	-webkit-text-shadow: 0px 1px 1px #fff;
	color: #333;
}
.gray:hover
{
	background-color: #ccc;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ddd), color-stop(1, #ccc));
	background: -moz-linear-gradient(bottom, #ccc, #ddd);
	border: 1px solid #ddd;
}

/* Red button */
.red
{
	background-color: #a00;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b00), color-stop(1, #a00));
	background: -moz-linear-gradient(bottom, #a00, #b00);
	border: 1px solid #b00;
	text-shadow: 0px 1px 1px #400;
	-o-text-shadow: 0px 1px 1px #400;
	-moz-text-shadow: 0px 1px 1px #400;
	-webkit-text-shadow: 0px 1px 1px #400;
}
.red:hover
{
	background-color: #900;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a00), color-stop(1, #900));
	background: -moz-linear-gradient(bottom, #900, #a00);
	border-color: #a00;
}

/* Skyblue button */
.skyblue
{
	background-color: #a5a8e0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b2b4e4), color-stop(1, #a5a8e0));
	background: -moz-linear-gradient(bottom, #a5a8e0, #b2b4e4);
	border: 1px solid #b2b4e4;
	text-shadow: 0px 1px 1px #272a70;
	-o-text-shadow: 0px 1px 1px #272a70;
	-moz-text-shadow: 0px 1px 1px #272a70;
	-webkit-text-shadow: 0px 1px 1px #272a70;
}
.skyblue:hover
{
	background-color: #8c90d7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a5a8e0), color-stop(1, #8c90d7));
	background: -moz-linear-gradient(bottom, #8c90d7, #a5a8e0);
	border-color: #a5a8e0;
}

/* Orange button */
.orange
{
	background-color: #f60;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff8533), color-stop(1, #f60));
	background: -moz-linear-gradient(bottom, #f60, #ff8533);
	border: 1px solid #ff8533;
	text-shadow: 0px 1px 1px #441b00;
	-o-text-shadow: 0px 1px 1px #441b00;
	-moz-text-shadow: 0px 1px 1px #441b00;
	-webkit-text-shadow: 0px 1px 1px #441b00;
}
.orange:hover
{
	background-color: #cc5200;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f60), color-stop(1, #cc5200));
	background: -moz-linear-gradient(bottom, #cc5200, #f60);
	border-color: #f60;
}
